<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css"> -->
    <!-- cdn 加速 -->
    <!-- <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/theme-chalk/index.min.css" rel="stylesheet"> -->
    <!-- 引入组件库 -->
    <!-- <script src="https://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2" type="text/javascript" charset="utf-8"></script> -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
    <!-- cdn 加速 -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script> -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/index.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/theme-chalk/index.min.css" rel="stylesheet">
    <script src="https://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.3/index.min.js"></script> -->


    <link href="https://r.mter.live/cc/display.css" rel="stylesheet">
    <link href="https://r.mter.live/cc/index.min.css" rel="stylesheet">
    <script src="https://r.mter.live/cc/jquery.min.js"></script>
    <script src="https://r.mter.live/cc/vue.min.js"></script>
    <script src="https://r.mter.live/cc/index.min.js"></script>

    

    <style type="text/css">
        a {
            text-decoration: none;
        }
        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Chrome/Safari/Opera */
            -khtml-user-select: none; /* Konqueror */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently not supported by any browser */
        }
        /* html { 
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray;
         }  */
    </style>
    <title>一勺草莓酱_cc の 歌单 - Mter</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?7f32462fc5ccebffcd25051d98f28dad";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <div id="app">
        <el-row>
            <el-col :xs="6" :sm="6" :md="6" :lg="4" :xl="6">
                <br>
            </el-col>
            <el-col :xs="24" :sm="24" :md="24" :lg="16" :xl="12">
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">

                    <el-menu-item index="1" class="noclick">
                        <el-avatar :size="40" src="https://r.mter.live/cc/headportrait.jpg">
                            <img src="https://r.mter.live/cc/noheadportrait.png" />
                        </el-avatar>
                        <span class="hidden-xs-only">
                            一勺草莓酱_cc
                        </span>
                    </el-menu-item>

                    <el-menu-item index="2">歌单</el-menu-item>
                    <el-menu-item index="3">推荐</el-menu-item>

                    <el-menu-item index="11" class="hidden-xs-only"><a href="https://live.bilibili.com/2259751" target="_blank">直播间</a></el-menu-item>
                    <el-menu-item index="12" class="hidden-xs-only"><a href="https://space.bilibili.com/41080221/" target="_blank">个人空间</a></el-menu-item>

                    <el-menu-item index="13" v-if="!password" style="float: right;">
                        <el-popover v-if="!password" placement="bottom-end" width="250" v-model="visible.music">
                            <el-input placeholder="请输入密码" v-model="inputPassword" show-password></el-input>
                            <br><br>
                            <div style="text-align: right; margin: 0">
                                <el-button size="mini" type="text" @click="visible.music = false">取消</el-button>
                                <el-button type="primary" size="mini" @click="judgePassword();visible.music = false">确定
                                </el-button>
                            </div>
                            <el-button slot="reference" type='text'>管理</el-button>
                        </el-popover>
                    </el-menu-item>
                    <el-menu-item index="14" v-else @click="password=''" style="float: right;" class="noclick">退出</el-menu-item>

                </el-menu>

                <template v-if="true">
                    <!-- <el-alert v-if="issafariBrowser" title="由于SSL证书问题,我们暂时无法为苹果设备提供服务!" type="warning"></el-alert> -->
                    <br>
                    <!-- <el-alert title="由于SSL证书问题,我们无法保证运维稳定,仅用于体验." type="info" center></el-alert> -->
                    <!-- <el-alert title="分享到QQ请使用 http://c.mter.tech/ ,使用 c.mter.xyz 会显示已停止访问 " type="info" center> -->
                    <!-- </el-alert> -->
                     <!-- <el-alert title="服务地址已迁移,如遇无法加载数据,可先尝试访问 https://ct.mter.live ,并与 Mxnter 联系进行修复." type="info" center></el-alert> -->
                </template>

                <template v-if="activeIndex=='2'">
                    <template v-if="password">
                        <div style="margin-top: 20px;">
                            <el-button-group>
                                <el-button type="primary" icon="el-icon-circle-plus-outline"
                                    @click="editAddCardShow(!editAddCard)">新增</el-button>
                                <!-- <el-button type="primary" icon="el-icon-share">分享</el-button> -->
                            </el-button-group>
                            <br><br>
                            <el-collapse-transition>
                                <div v-show="editAddCard">
                                    <el-card class="box-card">
                                        <div slot="header" class="clearfix">
                                            <span>{{formLabelAlign.id?'修改歌单':'新增歌单'}}</span>
                                            <el-button style="float: right; padding: 3px 0" type="text"
                                                @click="editAddCard=false">隐藏</el-button>
                                        </div>
                                        <el-form :label-position="labelPosition" label-width="80px"
                                            :model="formLabelAlign">
                                            <el-form-item label="歌名">
                                                <el-input v-model="formLabelAlign.name"></el-input>
                                            </el-form-item>
                                            <el-form-item label="歌手">
                                                <el-input v-model="formLabelAlign.author"></el-input>
                                            </el-form-item>
                                            <el-form-item label="曲调">
                                                <el-input v-model="formLabelAlign.tune"></el-input>
                                            </el-form-item>
                                            <el-form-item label="类型">
                                                <el-input v-model="formLabelAlign.type"></el-input>
                                            </el-form-item>
                                            <el-form-item>
                                                <el-button type="primary" v-if="!formLabelAlign.id"
                                                    @click="create(formLabelAlign)">立即新增</el-button>
                                                <el-button type="primary" v-else @click="update(formLabelAlign)">立即修改
                                                </el-button>
                                            </el-form-item>
                                        </el-form>
                                    </el-card>
                                </div>
                            </el-collapse-transition>
                        </div>
                    </template>
                    <!-- <br> -->
                    <template>

                        <el-input placeholder="万物皆可搜索" v-model="whe.music" class="input-with-select" clearable>
                            <el-button slot="append" icon="el-icon-search" @click="loadTableData(true)"></el-button>
                        </el-input>
                        <br><br>
                        <div style="text-align:center;">
                        <el-tag :effect="initials==''?'dark':'plain'"  @click="updateInitials('')"  class="noselect">全部</el-tag>
                        <el-tag v-for="item in items" :key="item" :effect="initials==item?'dark':'plain'" @click="updateInitials(item)" class="noselect" style="margin-right: 3px;"> {{ item.toUpperCase() }}</el-tag>
                        </div>
                        <br>

                        <el-table :data="tableData.data" :empty-text="'暂无歌单'"  style="width: 100%;">
                            <el-table-column prop="name" label="歌名" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="author" label="歌手" :align="'center'">
                                <template slot-scope="scope">
                                    <template v-if="scope.row.author">
                                        {{scope.row.author}}
                                    </template>
                                    <template v-else>
                                        <el-popover placement="top" width="250">
                                            <el-input placeholder="歌手" v-model="gs" clearable>
                                            </el-input>
                                            <br><br>
                                            <div style="text-align: right; margin: 0">
                                                <el-button type="primary" size="mini"
                                                    @click="upgs({gs:gs,id:scope.row.id})">
                                                    确定</el-button>
                                            </div>
    
                                            <el-button slot="reference" type="text" icon="el-icon-edit"> 帮忙填歌手
                                            </el-button>
                                        </el-popover>
                                    </template>
                                    

                                </template>
                            </el-table-column>
                            <el-table-column v-if="password" prop="tune" label="曲调" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="type" label="类型" :align="'center'">
                            </el-table-column>
                            <el-table-column v-if="password" label="操作" :align="'center'">
                                <template slot-scope="scope">
                                    <el-button type="primary" icon="el-icon-edit"
                                        @click="editAddCardShow(true,scope.row)" circle></el-button>
                                    <el-popconfirm title="确定删除吗？" @confirm="deleteMusic(scope.row.id);">
                                        <el-button slot="reference" type="danger" icon="el-icon-delete" circle>
                                        </el-button>
                                    </el-popconfirm>

                                </template>
                            </el-table-column>
                        </el-table>

                        <br><br>
                        <div style="text-align:center;">
                        <el-pagination class="hidden-xs-only" @size-change="handleSizeChange" @current-change="handleCurrentChange" small
                            :current-page="tableData.pageNum" :page-sizes="[10,20,50,100, 200, 300, 400]"
                            :page-size="tableData.pageSize" layout="total, sizes, prev, pager, next, jumper"
                            :hide-on-single-page="true" :total="tableData.total">
                        </el-pagination>

                        <el-pagination class="hidden-sm-and-up" @size-change="handleSizeChange" @current-change="handleCurrentChange" small
                            :current-page="tableData.pageNum" :page-sizes="[10,20,50,100, 200, 300, 400]"
                            :page-size="tableData.pageSize" layout="total, prev, pager, next"
                            :hide-on-single-page="true" :total="tableData.total">
                        </el-pagination>
                        </div>
                    </template>
                </template>

                <template v-else-if="activeIndex=='3'">
                    <template>
                        <el-collapse v-model="activeName" accordion>
                            <el-collapse-item title="推荐" name="1">
                                <el-card class="box-card">
                                    <el-form :label-position="labelPosition" :rules="rules.recommend"  ref="recommend" label-width="80px" :model="form.recommend">
                                        <el-form-item label="歌名" prop="name">
                                            <el-input v-model="form.recommend.name"></el-input>
                                        </el-form-item>
                                        <el-form-item label="歌手" prop="author">
                                            <el-input v-model="form.recommend.author"></el-input>
                                        </el-form-item>
                                        <el-form-item label="推荐人" prop="user">
                                            <el-input v-model="form.recommend.user"></el-input>
                                        </el-form-item>
                                        <el-form-item label="平台">
                                            <el-input v-model="form.recommend.platform"></el-input>
                                        </el-form-item>
                                        <el-form-item label="备注" >
                                            <el-input v-model="form.recommend.remarks"></el-input>
                                        </el-form-item>

                                        <el-form-item>
                                            <el-button type="primary" @click="createRecommend(form.recommend)">推荐
                                            </el-button>
                                        </el-form-item>
                                    </el-form>
                                </el-card>
                            </el-collapse-item>
                    </template>
                    <br><br>
                    <template>

                        <el-input placeholder="万物皆可搜索" v-model="whe.recommend" class="input-with-select" clearable>
                            <el-button slot="append" icon="el-icon-search" @click="getRecommendPage(true)"></el-button>
                        </el-input>

                        <br><br>

                        <el-table :data="table.recommend.data" :empty-text="'暂无歌单'" style="width: 100%">
                            <el-table-column prop="name" label="歌名" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="author" label="歌手" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="user" label="推荐人" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="platform" label="平台" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="remarks" label="备注" :align="'center'">
                            </el-table-column>
                            <el-table-column prop="type" label="状态" :align="'center'">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.type" :type="scope.row.type=='拒绝'?'info':'success'"
                                        effect="plain">
                                        {{ scope.row.type }}
                                    </el-tag>

                                </template>
                            </el-table-column>
                            <el-table-column prop="feedback" label="反馈" :align="'center'">
                            </el-table-column>
                            <el-table-column v-if="password" label="操作" :align="'center'">
                                <template slot-scope="scope">
                                    <el-popover placement="top" width="250">
                                        <el-input placeholder="请反馈内容" v-model="feedback" clearable>
                                        </el-input>
                                        <br><br>
                                        <div style="text-align: right; margin: 0">
                                            <el-button size="mini" type="text"
                                                @click="updateRecommend({type:'拒绝',feedback:feedback,id:scope.row.id})">
                                                拒绝推荐</el-button>
                                            <el-button type="primary" size="mini"
                                                @click="updateRecommend({type:'接受',feedback:feedback,id:scope.row.id})">
                                                接受推荐</el-button>
                                        </div>

                                        <el-button slot="reference" type="primary" icon="el-icon-edit" circle>
                                        </el-button>
                                    </el-popover>
                                    <el-popconfirm title="确定删除吗？" @confirm="deleteRecommend(scope.row.id);">
                                        <el-button slot="reference" type="danger" icon="el-icon-delete" circle>
                                        </el-button>
                                    </el-popconfirm>

                                </template>
                            </el-table-column>
                        </el-table>

                        <br><br>

                        <el-pagination class="hidden-xs-only" @size-change="recommendSizeChange" @current-change="recommendCurrentChange" small
                            :current-page="table.recommend.pageNum" :page-sizes="[10,20,50,100, 200, 300, 400]"
                            :page-size="table.recommend.pageSize" layout="total, sizes, prev, pager, next, jumper"
                            :hide-on-single-page="true" :total="table.recommend.total">
                        </el-pagination>

                        <el-pagination  class="hidden-sm-and-up" @size-change="recommendSizeChange" @current-change="recommendCurrentChange" small
                            :current-page="table.recommend.pageNum" :page-sizes="[10,20,50,100, 200, 300, 400]"
                            :page-size="table.recommend.pageSize" layout="total, prev, pager, next"
                            :hide-on-single-page="true" :total="table.recommend.total">
                        </el-pagination>
                    </template>
                </template>

                <br>
                <br>
                <el-card v-if="tj" class="box-card" style="height: max-content;width: max-content;position: fixed;bottom: 1vh;right: 1vh;z-index: 99;">
                    <div slot="header" class="clearfix">
                        <span>推荐音乐</span>
                        <el-button style="float: right; padding: 3px 0" type="text" @click="gbtj()">关闭</el-button>
                      </div>
                    <!-- <iframe style="width:280px;" src="https://player.bilibili.com/player.html?aid=260810965&bvid=BV1Xe411M7ob&cid=841331350&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
                    <el-divider></el-divider> -->
                    <el-carousel height="175px" style="width:280px;">
                        <el-carousel-item>
                            <a href="https://www.bilibili.com/video/BV1Xe411M7ob/" target="_blank">
                                <div style="position: absolute;color: #FFF;bottom: 10%;left: 5%;font-size: 0.7rem;">【你曾是少年】</div>
                                <img style="width: 100%;" src="https://r.mter.live/cc/imgs/t1.webp" />
                            </a>
                        </el-carousel-item>
                        <el-carousel-item>
                            <a href="https://www.bilibili.com/video/BV1RW4y1W7ZG/" target="_blank">
                                <div style="position: absolute;color: #FFF;bottom: 10%;left: 5%;font-size: 0.7rem;">【莫斯科没有眼泪】</div>
                                <img style="width: 100%;" src="https://r.mter.live/cc/imgs/t2.webp" />
                            </a>
                        </el-carousel-item>
                        <el-carousel-item>
                            <a href="https://www.bilibili.com/video/BV1HD4y147LM/" target="_blank">
                                <div style="position: absolute;color: #FFF;bottom: 10%;left: 5%;font-size: 0.7rem;">【不舍 | 再就业男团】</div>
                                <img style="width: 100%;" src="https://r.mter.live/cc/imgs/t3.webp" />
                            </a>
                        </el-carousel-item>
                      </el-carousel>
                </el-card>
                
                <br>
                <div style="text-align: center;">
                    <el-link :underline="false">一勺草莓酱_cc の 歌单 | B站直播间 2259751 | v0.7[Beta] </el-link>
                    <br>
                    <el-link :underline="false">Ter 已为小姐姐调整 最佳分辨率 1536x864 | © 2021-2022 Mxnter Group</el-link>
                    <br>
                    <el-link :underline="false">如遇到数据无法加载，可尝试访问 ct.mter.live 备用网站.</el-link>
                </div>
            </el-col>
        </el-row>


    </div>
    <script>


        var app = new Vue({
            el: '#app',
            data() {
                return {
                    items:['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
                    initials:'',
                    activeIndex: '2',
                    activeName: '1',
                    currentPage1: 1,
                    whe: {
                        music: '',
                        recommend: ''
                    },
                    tableData: {
                        code: 0,
                        total: 0,
                        pageNum: 1,
                        pageSize: 10,
                        data: []
                    },
                    labelPosition: 'right',
                    formLabelAlign: {
                        id: '',
                        name: '',
                        author: '',
                        type: '',
                        tune:''
                    },
                    editAddCard: false,
                    password: '',
                    inputPassword: '',
                    feedback: '',
                    visible: {
                        music: false,
                        recommend: false
                    },
                    form: {
                        recommend: {
                            name: '',
                            author: '',
                            user: '',
                            platform: '',
                            remarks: ''
                        }
                    },
                    table: {
                        recommend: {
                            code: 0,
                            total: 0,
                            pageNum: 1,
                            pageSize: 10,
                            data: []
                        }
                    },
                    rules: {
                        recommend:{
                            name:[
                                { required: true, message: '请输入歌名', trigger: 'change' }
                            ],
                            author:[
                                { required: true, message: '请输入歌手', trigger: 'change' }
                            ],
                            user:[
                                { required: true, message: '请输入推荐人', trigger: 'change' }
                            ],
                        }
                    },
                    issafariBrowser: false,
                    gs: '',
                    tj: true,

                }
            },
            computed: {
            },
            mounted() {
                // this.issafariBrowser = /Safari/.test(navigator.userAgent) && !/Chrome/.test(navigator.userAgent);
                this.loadTableData();
            },
            methods: {
                http(type, url, dataType, data, success, error) {
                    $.ajax({
                        contentType: 'application/json',
                        type: 'POST',
                        url: `https://r.mter.live/cd/${url}`,
                        dataType: "json",
                        data: data,
                        success: function (message) {
                            success(message);
                            // console.log(message);
                        },
                        error: function (message) {
                            success(message);
                            // console.log(message);

                        }
                    });
                },
                handleSelect(val) {
                    if (val === '2') {
                        this.activeIndex = val;
                        this.loadTableData();
                    } else if (val === '3') {
                        this.activeIndex = val;
                        this.getRecommendPage();
                    }
                },
                handleSizeChange(val) {

                    this.tableData.pageSize = val;
                    this.tableData.pageNum = 1;
                    this.loadTableData();
                },
                handleCurrentChange(val) {
                    this.tableData.pageNum = val;
                    this.loadTableData();
                },
                updateInitials(initials){
                    this.initials = initials;
                    this.loadTableData(true);
                },
                loadTableData(xs) {
                    if(xs)this.tableData.pageNum=1;
                    let that = this;
                    this.http('POST', 'getMusicPage', 'json',
                        JSON.stringify({ pageSize: that.tableData.pageSize, pageNum: that.tableData.pageNum, whe: that.whe.music,initials:that.initials }),
                        function (message) {
                            that.tableData = message;
                        },
                        function (message) {

                        }
                    );
                },
                create(formLabelAlign) {
                    formLabelAlign.password = this.password;
                    let that = this;
                    this.http('POST', 'create', 'json',
                        JSON.stringify(formLabelAlign),
                        function (message) {
                            that.$message({
                                message: '新增成功',
                                type: 'success'
                            });
                            that.loadTableData();
                            that.formLabelAlign = { id: '', name: '', author: '', type: '' ,tune:''};
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                update(formLabelAlign) {
                    formLabelAlign.password = this.password;
                    let that = this;
                    this.http('POST', 'update', 'json',
                        JSON.stringify(formLabelAlign),
                        function (message) {
                            that.$message({
                                message: '修改成功',
                                type: 'success'
                            });
                            that.loadTableData();
                            that.formLabelAlign = { id: '', name: '', author: '', type: '',tune:'' };
                            that.editAddCard = false;
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                upgs(data) {
                    let that = this;
                    this.http('POST', 'upgs', 'json',
                        JSON.stringify(data),
                        function (message) {
                            that.$message({
                                message: '帮助成功',
                                type: 'success'
                            });
                            that.loadTableData();
                            that.gs = '';
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                deleteMusic(id) {
                    let formData = {
                        password: this.password,
                        id: id,
                    }
                    let that = this;
                    this.http('POST', 'delete', 'json',
                        JSON.stringify(formData),
                        function (message) {
                            that.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                            that.loadTableData();
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                judgePassword() {
                    let formData = {
                        password: this.inputPassword,
                    }
                    let that = this;
                    this.http('POST', 'judgePassword', 'json',
                        JSON.stringify(formData),
                        function (message) {
                            if(message.code == 0){
                                that.$message({
                                message: '验证成功',
                                type: 'success'
                                });
                                that.password = that.inputPassword;
                            }else{
                                that.$message({
                                message: '密码错误',
                                type: 'error'
                                });
                            }
                        },
                        function (message) {
                            that.$message({
                                message: '验证失败',
                                type: 'error'
                            });
                        }
                    );
                },
                editAddCardShow(editAddCard, formLabelAlign) {
                    this.editAddCard = editAddCard;
                    if (formLabelAlign) this.formLabelAlign = formLabelAlign;
                    else this.formLabelAlign = { id: '', name: '', author: '', type: '' };
                },
                getRecommendPage(sx) {
                    if(sx)this.table.recommend.pageNum=1;
                    let that = this;
                    this.http('POST', 'getRecommendPage', 'json',
                        JSON.stringify({ pageSize: that.table.recommend.pageSize, pageNum: that.table.recommend.pageNum, whe: that.whe.recommend }),
                        function (message) {
                            that.table.recommend = message;
                        },
                        function (message) {

                        }
                    );
                },
                recommendSizeChange(val) {
                    this.table.recommend.pageSize = val;
                    this.table.recommend.pageNum = 1;
                    this.getRecommendPage();
                },
                recommendCurrentChange(val) {
                    this.table.recommend.pageNum = val;
                    this.getRecommendPage();
                },
                createRecommend(data) {
                    let that = this;
                    this.$refs['recommend'].validate((valid) => {
                        if (valid) {
                            that.http('POST', 'createRecommend', 'json',
                                JSON.stringify(data),
                                function (message) {
                                    that.$message({
                                        message: '推荐成功',
                                        type: 'success'
                                    });
                                    that.getRecommendPage();
                                    that.form.recommend = { name: '', author: '', user: '', platform: '', remarks: '' };
                                },
                                function (message) {
                                    that.$message({
                                        message: message,
                                        type: 'error'
                                    });
                                }
                             );
                        } else {
                            return false;
                        }
                    });
                   
                },
                updateRecommend(data) {
                    data.password = this.password;
                    let that = this;
                    this.http('POST', 'updateRecommend', 'json',
                        JSON.stringify(data),
                        function (message) {
                            that.$message({
                                message: '反馈成功',
                                type: 'success'
                            });
                            that.getRecommendPage();
                            that.form.recommend = { name: '', author: '', user: '', platform: '', remarks: '' };
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                deleteRecommend(id) {
                    let formData = {
                        password: this.password,
                        id: id,
                    }
                    let that = this;
                    this.http('POST', 'deleteRecommend', 'json',
                        JSON.stringify(formData),
                        function (message) {
                            that.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                            that.getRecommendPage();
                        },
                        function (message) {
                            that.$message({
                                message: message,
                                type: 'error'
                            });
                        }
                    );
                },
                gbtj(){
                    this.tj = false;
                },
            }
        })
    </script>
</body>
</html>
